<footer class="footer">
  <div class="footer-inner">
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title title-dark">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>

    <div class="title">
      <span>{{dc 'free_classifieds_footer'}}</span>
      <span class="subtitle">
        © 2006-<span class="current-year"></span> OLX
      </span>
    </div>
  </div>
</footer>

{{#if settings.enhanced_analytics}}
<script type="text/javascript">
  function ninjaGetCookie(getCookieName) {
    var name = getCookieName + "=";
    var ca = document.cookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") c = c.substring(1, c.length);
      if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return null;
  }

  function ninjaClickTrigger(event, touch_point_button) {
    var tpb = touch_point_button || "";
    window.dataLayer.push({
      trackEvent: [event],
      touch_point_button: tpb
    });
  }

  window.dataLayer = window.dataLayer || [];

  window.dataLayer.push({
    cleanup: function () {
      window.dataLayer.push({
        trackPage: "help_center",
        page_title: document.title,
        touch_point_page: "help_center",
        user_id: ninjaGetCookie("user_id"),
        query_string: window.location.search
      });
    }
  });

  var ninjaTag = document.getElementById("ninja-script-tag");
  var siteUrl = "{{settings.country_site_url}}".match(/(^\w+:|^)\/\/(.+)\/$/)[2];

  if (!siteUrl) {
    console.warn(
      "[NinjaTracker]: No siteUrl defined!",
      "{{settings.country_site_url}}"
    );
  } else {
    if (!ninjaTag) {
      (function () {
        "use strict";
        window.configTracking = {
          siteUrl: siteUrl,
          environment: "production"
        };
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.id = "ninja-script-tag";
        script.async = true;
        script.src = (
          "https:" === document.location.protocol ? "https://" : "http://"
        ) + "ninja.data.olxcdn.com\/ninja-cee.js";
        (document.getElementsByTagName("head")[0] ||
          document.getElementsByTagName("body")[0]
        ).appendChild(script);
      })();
    }
  }

</script>
{{/if}}
