<footer class="footer">
  <div class="footer-inner">
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title title-dark">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>


    <div class="footer-language-selector">
      {{#if alternative_locales}}
      <div class="dropdown language-selector">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_locale.name}}
        </button>
        <span class="dropdown-menu dropdown-menu-end" role="menu">
          {{#each alternative_locales}}
          <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
            {{name}}
          </a>
          {{/each}}
        </span>
      </div>
      {{/if}}
    </div>
  </div>
</footer>