<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div>
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>

    <div class="nav-wrapper">
      <nav class="user-nav" id="user-nav">
        <a role="button" class="button-primary-large-light" href="{{settings.country_site_sell_url}}">
          {{dc 'sell_button_text'}}
        </a>
        {{#if signed_in}}
        {{user_info}}
        {{/if}}
      </nav>

    </div>
  </div>
</header>
