<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THSFB85" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

{{#if settings.enable_headroom}}
<header class="header--margin"></header>
{{/if}}

<header id="main-nav-header" class="header {{#if settings.enable_headroom}}header--fixed{{/if}}">
  <div>
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>

    <div class="nav-wrapper">

      {{#if alternative_locales}}
      <span class="locale locale-current">

        {{#is current_locale.name "English (US)"}}
        <span dir="ltr">Eng</span>
        {{/is}}

        {{#is current_locale.name "Русский"}}
        <span dir="ltr">Рус</span>
        {{/is}}

        {{#is current_locale.name "Қазақ тілі"}}
        <span dir="ltr">Қаз</span>
        {{/is}}

        {{#is current_locale.name "Українська"}}
        <span dir="ltr">Укр</span>
        {{/is}}

      </span>

      <span>
        {{#each alternative_locales}}
        {{#is name "English (US)"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Eng
        </a>
        {{/is}}

        {{#is name "Русский"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Рус
        </a>
        {{/is}}

        {{#is name "Қазақ тілі"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Қаз
        </a>
        {{/is}}

        {{#is name "Українська"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Укр
        </a>
        {{/is}}

        {{!-- <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          {{name}}
        </a> --}}
        {{/each}}
      </span>
      {{/if}}

      <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
          class="icon-menu">
          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
        </svg>
      </button>
      <nav class="user-nav" id="user-nav">
        {{link 'community'}}
        {{link 'new_request' class='submit-a-request'}}
        <a href="#">Bla</a>
      </nav>
      {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="hide-on-mobile">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{link "my_activities" role="menuitem"}}
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
      {{else}}
      <a role="button" class="olx-button olx-button-secondary olx-button-large" href="{{dc 'sell_url'}}">
        {{dc 'sell_button_text'}}
      </a>
      {{!-- {{#link "sign_in" class="sign-in"}}
      {{t 'sign_in'}}
      {{/link}} --}}
      {{/if}}
    </div>
  </div>
</header>
{{#if settings.enable_headroom}}
<script>
  (function () {
    var header = new Headroom(document.querySelector("#main-nav-header"), {
      offset: 72,
      tolerance: 5
    });
    header.init();
  }());
</script>
{{/if}}
