<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div>
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>

    <div class="nav-wrapper">
      <nav class="user-nav" id="user-nav">

        {{#if alternative_locales}}
        <span class="locale locale-current">

          {{#is current_locale.name "العربية (مصر)"}}
          <span dir="rtl">العربية (مصر)</span>
          {{/is}}

          {{#is current_locale.name "English (US)"}}
          <span dir="ltr">Eng</span>
          {{/is}}

          {{#is current_locale.name "Русский"}}
          <span dir="ltr">Рус</span>
          {{/is}}

          {{#is current_locale.name "Қазақ тілі"}}
          <span dir="ltr">Қаз</span>
          {{/is}}

          {{#is current_locale.name "Українська"}}
          <span dir="ltr">Укр</span>
          {{/is}}

        </span>

        {{#each alternative_locales}}
        {{#is name "English (US)"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Eng
        </a>
        {{/is}}

        {{#is name "Русский"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Рус
        </a>
        {{/is}}

        {{#is name "Қазақ тілі"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Қаз
        </a>
        {{/is}}

        {{#is name "Українська"}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          Укр
        </a>
        {{/is}}

        {{!-- <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          {{name}}
        </a> --}}
        {{/each}}
        {{/if}}

        {{#if signed_in}}
        {{user_info}}
        {{/if}}

        <a role="button" class="olx-button olx-button-secondary olx-button-large" href="{{dc 'sell_url'}}">
          {{dc 'sell_button_text'}}
        </a>

      </nav>

    </div>
  </div>
</header>
