<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div>
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" href="{{settings.country_site_url}}">
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
      <div class="title">{{#link 'help_center'}}{{dc 'header_title'}}{{/link}}</div>
    </div>

    <div class="nav-wrapper">
      <nav class="user-nav" id="user-nav">
        {{#if alternative_locales}}
        <span class="locale locale-current">
          {{#is current_locale.name "العربية (مصر)"}}
          <span dir="rtl">العربية (مصر)</span>
          {{else}}
          <span dir="ltr">{{current_locale.name}}</span>
          {{/is}}
        </span>
        {{#each alternative_locales}}
        <a class="locale" href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
          {{name}}
        </a>
        {{/each}}
        {{/if}}

        {{#if signed_in}}
        {{user_info}}
        {{/if}}

        <a role="button" class="button-primary-large-light" href="{{dc 'sell_url'}}">
          {{dc 'sell_button_text'}}
        </a>

      </nav>

    </div>
  </div>
</header>