<div class="container-divider">
  <div class="container">
    <nav class="sub-nav">
      {{breadcrumbs}}
      <div class="search-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{dc 'eqx_search_input'}}
      </div>
    </nav>
  </div>
</div>

<div class="container">
  {{#if settings.alert_enabled}}
  <section class="message message-alert">
    {{dc 'eqx_alert_content'}}
  </section>
  {{/if}}

  {{#if settings.info_enabled}}
  <section class="message message-info">
    {{dc 'eqx_info_content'}}
  </section>
  {{/if}}

  <div class="section-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        {{#if settings.show_follow_section}}
        <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
      <ul class="section-list section-list--collapsed">
        {{#each section.sections}}
        <li class="section-list-item">
          <a href="{{url}}">
            <span>{{name}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
              aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5" />
            </svg>
          </a>
        </li>
        {{/each}}
        <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger"
          title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
      </ul>
      {{/if}}


      {{#if section.articles}}
      <ul class="article-list">
        {{#each section.articles}}
        <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
          {{#if promoted}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12"
            class="icon-star" title="{{t 'promoted'}}">
            <path fill="currentColor"
              d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z" />
          </svg>
          {{/if}}
          <a href="{{url}}" class="article-list-link">{{title}}</a>
          {{#if internal}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
            class="icon-lock" title="{{t 'internal'}}">
            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
          </svg>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
      {{/if}}

      {{pagination}}

    </section>
  </div>
<h3 class="centered">
    {{dc "need_more_help"}}
</h3>
<section class="categories blocks">
    <ul class="blocks-list blocks-list-centered">
        <li class="blocks-button">
            <img src="{{asset "icon-write-us.svg"}}" />
            <div class="blocks-item-button">
                {{#if settings.default_form_id}}
                    {{#link "new_request" class="olx-button olx-button-primary"
                    }}
                        {{dc "write_to_us"}}
                    {{/link}}
                {{else}}
                    <a
                        class="olx-button olx-button-primary"
                        href="{{dc "eqx_ticket_form_id"}}"
                    >
                        {{dc "write_to_us"}}
                    </a>
                {{/if}}
            </div>
        </li>
        <li class="blocks-button blocks-button-chat">
            <img src="{{asset "icon-chat.svg"}}" />
            <div class="blocks-item-button">
                <a
                    name="live-chat"
                    onclick="zen.webWidget.show();"
                    class="olx-button olx-button-primary"
                >
                    {{dc "chat_live"}}
                </a>
            </div>
        </li>
    </ul>
</section>
<section class="categories blocks">
    <ul class="blocks-list blocks-list-centered">
        {{#if settings.phone_line1_enabled}}
            <li class="blocks-button">
                <img src="{{asset "icon-call-us.svg"}}" />
                <div class="blocks-item-button">
                    <a
                        href="tel:{{dc "eqx_phone_line_one_number"}}"
                        title="{{dc "eqx_phone_line_one_number"}}"
                        name="phone-line-1"
                        data-phone-line1-number-title="{{dc
                                "eqx_phone_line_one_text"
                            }}"
                        data-phone-line1-number="{{dc
                                "eqx_phone_line_one_number"
                            }}"
                        class="olx-button olx-button-primary"
                    >
                        {{dc "eqx_phone_line_one_text"}}
                    </a>
                </div>
            </li>
        {{/if}}
        {{#if settings.phone_line2_enabled}}
            <li class="blocks-button">
                <img src="{{asset "icon-call-us.svg"}}" />
                <div class="blocks-item-button">
                    <a
                        href="tel:{{dc "eqx_phone_line_two_number"}}"
                        title="{{dc "eqx_phone_line_two_number"}}"
                        name="phone-line-2"
                        data-phone-line2-number-title="{{dc
                                "eqx_phone_line_two_text"
                            }}"
                        data-phone-line2-number="{{dc
                                "eqx_phone_line_two_number"
                            }}"
                        class="olx-button olx-button-primary"
                    >
                        {{dc "eqx_phone_line_two_text"}}
                    </a>
                </div>
            </li>
        {{/if}}
    </ul>
    {{#if settings.phone_line1_enabled}}
        <div class="blocks-stacked blocks-stacked-centered">
            <span class="gray centered small">
                *
                {{dc "eqx_phone_line_one_business_hours_title"}}
            </span>
            <span class="gray centered small">
                {{dc "eqx_phone_line_one_business_hours_subtitle"}}
            </span>
        </div>
    {{/if}}
    {{#if settings.phone_line2_enabled}}
        <div class="blocks-stacked blocks-stacked-centered">
            <span class="gray centered small">
                *
                {{dc "eqx_phone_line_two_business_hours_title"}}
            </span>
            <span class="gray centered small">
                {{dc "eqx_phone_line_two_business_hours_subtitle"}}
            </span>
        </div>
    {{/if}}
</section>
</div>